<a href="https://colab.research.google.com/github/0xFAB10/Data-Analysis-Exercises/blob/main/Binery_Study_Bank_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import altair as alt
file_url = 'https://raw.githubusercontent.com'\
           '/PacktWorkshops/The-Data-Science-Workshop'\
           '/master/Chapter03/bank-full.csv'
bankData = pd.read_csv(file_url, sep=";")

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
bankData.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [4]:
for i, tp in enumerate(bankData.dtypes):
    if tp == 'int64':
        print(bankData.columns[i])

age
balance
day
duration
campaign
pdays
previous

In [5]:
"""
Converting all the categorical variables to dummy variables
"""
bankCat = pd.get_dummies(bankData[
    ['job','marital',
    'education','default','housing','loan','contact',
    'month','poutcome']
    ])
bankCat.shape

(45211, 44)

In [6]:
bankNum = bankData[['age','balance','day','duration',\
                    'campaign','pdays','previous']]
bankNum.shape

(45211, 7)

In [7]:
# Preparing the X variables
X = pd.concat([bankCat, bankNum], axis=1)
print(X.shape)
# Preparing the Y variable
Y = bankData['y']
print(Y.shape)
X.head()

(45211, 51)
(45211,)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_other,poutcome_success,poutcome_unknown,age,balance,day,duration,campaign,pdays,previous
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,58,2143,5,261,1,-1,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,44,29,5,151,1,-1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,33,2,5,76,1,-1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,1,47,1506,5,92,1,-1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,33,1,5,198,1,-1,0

In [8]:
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split\
                                   (X, Y, test_size=0.3, \
                                    random_state=123)

In [9]:
bankModel = LogisticRegression()
bankModel.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [10]:
pred = bankModel.predict(X_test)
print('Accuracy of Logistic regression model' \
      'prediction on test set: {:.2f}'\
      .format(bankModel.score(X_test, y_test)))

Accuracy of Logistic regression modelprediction on test set: 0.89

In [11]:
# Confusion Matrix for the model
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)

[[11754   244]
 [ 1242   324]]

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

          no       0.90      0.98      0.94     11998
         yes       0.57      0.21      0.30      1566

    accuracy                           0.89     13564
   macro avg       0.74      0.59      0.62     13564
weighted avg       0.87      0.89      0.87     13564