<a href="https://colab.research.google.com/github/0xFAB10/Data-Analysis-Exercises/blob/main/Random_Forest_Animal_Table_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
file_url = 'https://raw.githubusercontent.com'\
           '/PacktWorkshops/The-Data-Science-Workshop'\
           '/master/Chapter04/Dataset'\
           '/openml_phpZNNasq.csv'
df = pd.read_csv(file_url)
df

,animal,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
1,antelope,True,False,False,True,False,False,False,True,True,True,False,False,4,True,False,True,mammal
2,bass,False,False,True,False,False,True,True,True,True,False,False,True,0,True,False,False,fish
3,bear,True,False,False,True,False,False,True,True,True,True,False,False,4,False,False,True,mammal
4,boar,True,False,False,True,False,False,True,True,True,True,False,False,4,True,False,True,mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,True,False,False,True,False,False,False,True,True,True,False,False,2,True,False,True,mammal
97,wasp,True,False,True,False,True,False,False,False,False,True,True,False,6,False,False,False,insect
98,wolf,True,False,False,True,False,False,True,True,True,True,False,False,4,True,False,True,mammal
99,worm,False,False,True,False,False,False,False,False,False,True,False,False,0,False,False,False,invertebrate
100,wren,False,True,True,False,True,False,False,False,True,True,False,False,2,True,False,False,bird

In [3]:
df.drop(columns='animal', inplace=True)
y = df.pop('type')

In [4]:
X_train, X_test, y_train, y_test = train_test_split\
                                   (df, y, test_size=0.4, \
                                    random_state=188)

In [5]:
rf_model = RandomForestClassifier(random_state=42, \
                                  n_estimators=1)
rf_model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=1, random_state=42)

In [6]:
train_preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)

In [7]:
train_acc = accuracy_score(y_train, train_preds)
test_acc = accuracy_score(y_test, test_preds)

In [8]:
print(train_acc)
print(test_acc)

0.9166666666666666
0.8048780487804879

In [9]:
rf_model2 = RandomForestClassifier(random_state=42, \
                                   n_estimators=30)
rf_model2.fit(X_train, y_train)

RandomForestClassifier(n_estimators=30, random_state=42)

In [10]:
train_preds2 = rf_model2.predict(X_train)
test_preds2 = rf_model2.predict(X_test)

In [11]:
train_acc2 = accuracy_score(y_train, train_preds2)
test_acc2 = accuracy_score(y_test, test_preds2)

In [12]:
print(train_acc2)
print(test_acc2)

1.0
0.9024390243902439